*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container
{
    width: 400px;
    height: min-content;
    background-color:#04163C;
    border-radius: 12px;
    padding: 28px;
}

.search-box
{
    width: 100%;
    height: min-content;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}

.search-box input
{
    width:84 px;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: skyblue;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder
{
    color: black;
}

.search-box button
{
    width: 46px;
    height: 46px;
    background-color: skyblue ;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

}


.search-box :hover
{
 
   background-color: grey;

}
.search-box button:hover
{
 
   background-color: grey;

}

.temperature {
    font-size: 24px;

}

.weather-body img
{
    margin-top: 10vh;
    width: 100%;
}

.weather-box
{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temprature
{
    font-size: 40px;
    font-weight:800;
    position: relative;
}